<div class="container">
<h3 class="logo"> Codezone
<span class="homeButton"> <a href="/"><button type="button" class="btn btn-outline-dark button">Home</button> </a></span></h3>
<div class="mt-4 p-4 bg-light text-black rounded" >

  <h4> <%= @post.title %> <span class="author">(by: <%= @post.user.name %>) </span></h4> 
  <div class="container commentsLikes">
    Comments ( <%= @post.comments_counter %> ) Likes ( <%= @post.likes.count %> )
  </div>
  <br>
  <p>
    <%= @post.text %>
  </p>
  <hr>
  <h5>Comments:</h5>
  <% @post.comments.each do |comment| %>
  <div>
    <p>
      <b><%= @post.user.name %> </b> : <%= comment.text %>
    </p>
    <%end %>
</div>
