<div class="container">

<h3 class="logo"> Codezone 
<span class="homeButton"> <a href="/"><button type="button" class="btn btn-outline-dark button">Home</button> </a></span></h3>

  <div class="mt-2 p-2 bg-primary text-white rounded" >
    <div class="row"> 
      <div class="col-sm-3 userImage"> 
         <img width="140px" src=<%=@user.photo %> alt=<%= @user.name %> />
      </div>
      <div class="col-sm-9">
      <br>
      <br>
        <h3><%= @user.name %> </h3> 
        <br>
        <div class="container commentsLikes">
          Total Posts: <b>(<%= @user.posts_counter %>)</b>
        </div>
      </div>
      </div>
    </div>

  <div class="mt-2 p-3 bg-light text-black rounded" >
    <h3>Bio</h3>
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <br>
  <h4> Recent Posts: </h4>
  <div class="mt-2 p-3 bg-light text-black rounded" >
  <%@posts.each_with_index do |post, index| %>
      <h5><%= post.title %> </h5>
      <p>
        Post Content: <%= post.text %>
      </p>
  <hr>
  <% end %>
  </div>

<div class="seeAll">
  <a href="/users/<%=@user.id%>/posts">
    <button type="button" class="btn btn-primary">See All Posts</button>
  </a>
</div>


  <br>
</div>
